@font-face {
  font-family: arial-fonts;
  src: url("../assets/fonts/Arial/arial.ttf") format("truetype"), url("../assets/fonts/Arial/arialbd.ttf") format("truetype"), url("../assets/fonts/Arial/arialbi.ttf") format("truetype"), url("../assets/fonts/Arial/ariali.ttf") format("truetype"), url("../assets/fonts/Arial/arialrg.ttf") format("truetype"), url("../assets/fonts/Arial/ariblk.ttf") format("truetype");
}
@font-face {
  font-family: helvetica-now-text-fonts;
  src: url("../assets/fonts/helvetica-now-text/HelveticaNowText-ThinItalic.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Thin.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Regular.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-RegIta.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-MediumItalic.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Medium.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-LightItalic.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Light.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtraLight.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtraBold.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtLtIta.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtBdIta.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-BoldItalic.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Bold.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-BlackItalic.ttf") format("truetype"), url("../assets/fonts/helvetica-now-text/HelveticaNowText-Black.ttf") format("truetype");
}
@font-face {
  font-family: Inter-fonts;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype"), url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype"), url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype"), url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype"), url("../assets/fonts/inter/Inter-Light.ttf") format("truetype"), url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype"), url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype"), url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype"), url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
html {
  background: url(/src/assets/img/png/stars-3750824_1280.png) center center repeat;
  background-size: 38rem;
}

body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.navbar-toggler {
  transition: all 500ms ease-in-out;
  border: none;
  box-shadow: none;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.navbar {
  padding: 0;
}
.navbar__div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background: linear-gradient(76.17deg, #1860bd 13.53%, rgba(24, 150, 204, 0.1) 35.84%, rgba(24, 204, 204, 0.025) 43.81%, rgba(24, 204, 204, 0.025) 60.5%, rgba(24, 204, 128, 0.1) 67.34%, #1b7a18 92.72%);
  text-align: center;
}
.navbar__ul {
  font-family: inter-regular;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
  background: radial-gradient(50% 3% at 50% 1%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.navbar__svg {
  height: 50px;
  width: 60px;
  margin: 0px;
  padding: 0px;
}
.navbar__svg--big {
  width: 122px;
  height: 24px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 0px white, inset 0px 0px 3px 0px white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.menus {
  min-width: 100vw;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background: radial-gradient(50% 1% at 50% 99%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.menus__list {
  margin: 0px 46px 20px 0px;
}
.menus__svg {
  max-height: 160px;
  margin: 0px -70px 30px -90px;
  filter: opacity(30%);
  -webkit-filter: opacity(30%);
}
.menus__list a {
  font-family: "arialrg", arial-fonts;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

footer {
  width: 100vw;
  height: 56px;
  background-color: rgb(165, 128, 42);
}
