@font-face {
  font-family: arial-fonts;
  src: url("../assets/fonts/Arial/arial.ttf") format("truetype"),
    url("../assets/fonts/Arial/arialbd.ttf") format("truetype"),
    url("../assets/fonts/Arial/arialbi.ttf") format("truetype"),
    url("../assets/fonts/Arial/ariali.ttf") format("truetype"),
    url("../assets/fonts/Arial/arialrg.ttf") format("truetype"),
    url("../assets/fonts/Arial/ariblk.ttf") format("truetype");
}

@font-face {
  font-family: helvetica-now-text-fonts;
  src: url("../assets/fonts/helvetica-now-text/HelveticaNowText-ThinItalic.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Thin.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-RegIta.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-MediumItalic.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Medium.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-LightItalic.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Light.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtraLight.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtraBold.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtLtIta.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-ExtBdIta.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-BoldItalic.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Bold.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-BlackItalic.ttf")
      format("truetype"),
    url("../assets/fonts/helvetica-now-text/HelveticaNowText-Black.ttf")
      format("truetype");
}

@font-face {
  font-family: Inter-fonts;
  src: url("../assets/fonts/inter/Inter-Thin.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-Regular.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-Medium.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-Light.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-ExtraLight.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-Bold.ttf") format("truetype"),
    url("../assets/fonts/inter/Inter-Black.ttf") format("truetype");
}
